  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="{{ metadescription }}">
  <link rel="stylesheet" type="text/css" href="../assets/css/index.css">
<!--   <link rel="stylesheet" href="/{{ revManifest['index.css'] }}"> -->
<!--   <link rel="manifest" href="/manifest.json"> -->
<!--   <script src="/{{ revManifest['index.js'] }}" defer></script> -->
  <title>{{ title }}</title>
